<div class="row">
    <div class="col-xs-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email"
                 id="email"
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                 id="password"
                 class="form-control"
                 ngModel
                 name="password"
                 required
                 minlength="6" >
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="!authForm.valid">{{login ? 'Login' : 'Signup' }}</button>
            </div>
            <hr>
            <div>
                <a (click)="switch()" style="cursor: pointer">{{login ? 'dont have an account? SignUp' : 'Have an account? Login' }}</a>
                
            </div>
        </form>
    </div>
</div>